body {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    background-color: darkgray;
    width: 350px;
    height: 530px;
    border: solid 8px black;
    box-shadow: 6px 6px 5px gray;
    border-radius: 5px;
}

#display {
    height: 12%;
    width: 92%;
    margin-top: 2%;
    border: solid 7px black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 100%;
    background-color: azure;
    font-size: 250%;
}

#buttonColumns {
    display: flex;
    justify-content: center;
    column-gap: 10px;

}


#firstColumn, #secondColumn, #thirdColumn, #fourthColumn {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    row-gap: 20px;
}



.operator, .operation {
    width: 75px;
    height: 50px;
    border-radius: 5px;
    background-color: moccasin;
    font-size: large;
    font-weight: 900;

}


#undo {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}
#allclear {
    width: 150px;
    height: 60px;
    border-radius: 10px;
}

.num {
    border-radius: 25px;
    width: 75px;
    height: 50px;
    background-color:orchid;
    font-size: large;
    font-weight: 900;
}
#decimal, #backspace {
    border-radius: 25px;
    width: 75px;
    height: 50px;
    background-color: crimson;
    font-size: large;
    font-weight: 900;
}

#footer {
    margin-top: 10%;
    font-family: monospace;
}

.hoverButton {
    border: solid 3px white;
}

.clickEffect {
    box-shadow: inset 0 0 0 1000px rgba(63, 59, 59, 0.4);
}

button {
    transition: 0.15s ease;
}